*,*::after,*::before{box-sizing: border-box;margin: 0;padding: 0;}
body{font-family: 'Montserrat', sans-serif;}
:root{
    --text-color: #121112;
    --text-color1: #585858;
    --primary-color:#FDC830;
    --dark-color:#343434;
    --border-color:#ddd;
    --gradient-color:linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);
    --fw-regular:400;
}
.container {max-width: 1270px;padding: 0 15px;margin: 0 auto;width: 100%;}
.hide {display: none !important;}
section {float: left;width: 100%;padding: 80px 0;background-color: #dddddd14;}
.section_block {display: flex;flex-direction: column;gap: 35px;}
.section_head h2 {font-size: 40px;font-weight: var(--fw-regular);line-height: 48px;color:var(--text-color);}
.section_head h2 span{background: var(--gradient-color);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.section_head {float: left;width: 100%;display: flex;justify-content: space-between;align-items: center;}
.placedStudentlist {display: grid;background: #fff;padding: 10px;border-radius: 5px;box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);gap: 10px;margin-bottom: 5px;border: 1px solid #fff;transition: 0.5s ease-in-out;cursor: pointer;max-width: 210px;}
.placedStudentlist:hover , 
.placedStudentlist:focus {border-color: var(--primary-color);}
.imgsec img {display: flex !important;height: 140px;object-fit: cover;border-radius: 3px;}
.student_info h5 {font-size: 16px;font-weight: normal;color: var(--text-color);margin-bottom: 3px;   
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.student_info p {font-size: 10px;font-weight: normal;color: var(--text-color1);margin-bottom: 15px; display: none;}
.student_info {display: grid;gap: 10px;}
.companyPlaced img {height: 20px;object-fit: contain;width: auto !important;float: left;}
.placement_list {display: grid;grid-template-columns: 175px 1fr;gap: 90px;align-items: center;}
.viewmore {float: left;width: 100%;padding-right: 60px;}
.placement_head h4{font-size: 26px;font-weight: var(--fw-regular);line-height:39px;color:var(--text-color);}
.placement_head h4 span{background: var(--gradient-color);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.placement_body {float: left;width: 100%;overflow: hidden;padding: 0 65px;}
button.owl-prev {position: absolute;top: 50%;transform: translateY(-50%);left: -50px;}
button.owl-next {position: absolute;top: 50%;transform: translateY(-50%);right: -50px;}
.viewmore a img {height: 6px;transform: rotate(0deg);transition: 0.5s;}
.viewmore a {text-align: right;float: right;text-decoration: none;color: var(--text-color);font-size: 16px;display: flex;gap: 5px;align-items: center;}
button.owl-prev.disabled , button.owl-next.disabled {display: none;}
a.open img {transform: rotate(180deg);}
div#wave {position:relative;text-align:center;margin-left: auto;margin-right: auto;}
.dot {display:inline-block;width:12px;height:12px;border-radius:50%;margin-right:3px;background:var(--gradient-color);animation: wave 1.3s linear infinite;}
.dot:nth-child(2) {animation-delay: -1.1s;}
.dot:nth-child(3) {animation-delay: -0.9s;}
@keyframes wave {0%, 60%, 100% {transform: initial;}
30% {transform: translateY(-15px);}
}
.container > div.loader ,.loader {position: absolute;inset: 0;display: none;background-color: rgb(255 255 255 / 90%);align-items: center;place-items: center;}
.container > div.loader.show , .loader.show {display: grid;}
@media (max-width:767px){
    section{padding: 50px 0;}
    .placement_list{grid-template-columns: 1fr;gap: 15px;}
    .viewmore a {font-size: 14px;}
    .section_head {justify-content: center;}
    .section_head h2{font-size: 28px;}

    .placement_head h4{font-size: 18px; text-align: center;line-height: 1.5}
}

.placement_body .item {
    display: grid;
    justify-content: center;
}