@media only screen and (max-width: 1366px) {
    .mediaslider{padding: 0 40px;}
    .mediaslider .owl-nav button.owl-prev {left: 0 !important;}
    .mediaslider .owl-nav button.owl-next {right: 0 !important;}
    .banner__content{gap: 120px;grid-template-columns : 1fr 450px}
    .banner__text h1{font-size: 42px;}
    .banner__img { max-width: 450px;}
}
@media only screen and (min-width: 768px) and (max-width: 996px) {
    .banner__content{gap: 50px;}
    .banner__text h1{font-size: 38px;}
    .banner__text p, .section__subText{max-width: 100%;}
    .statistics_block h5{font-size: 32px;}
    .section__title{font-size: 30px;}
    .section__mainText{font-size: 26px;}
    .statistics_block p{font-size: 13px;}
    .banner__text p, 
    .section__subText,
    .faqs__accoridan__head,
    .testomonoials__list p,
    .accoridan__head { font-size: 15px;}
    .statistics_list {grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));gap: 20px;}

}
@media only screen and (max-width: 767px) {
    .banner__img,
    .banner__img .owl-carousel{padding: 0 0px;}
    .tab__block:nth-child(even) .tab_media {order: 1;}
    .tab__block:nth-child(even) .tab__cont{order: 2;}
    .statistics_list {grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));gap: 20px;}
    .section_head{align-items: center !important;}
    section.banner::after { inset: auto 0 0 20%; height: 530px;}
    section.coloredBg,
    section{padding: 50px 0;}
    .tab__block,
    .banner__content ,
    .sectionTwoBlock{grid-template-columns: 100%;gap: 20px;}
    .banner__text h1{font-size: 32px;text-align: center;}
    .banner__text{gap: 20px;}
    .section__title{text-align: center; font-size: 28px;}
    .section__mainText{text-align: center; font-size: 24px;}
    .banner__text p, 
    .section__subText{max-width: 100%;; font-size: 14px; text-align: center;}
    .faqs__accoridan__head{padding: 15px 70px 15px 20px;font-size: 14px;}
    .testomonoials__list p,
    .accoridan__head { font-size: 14px;}
    .faqs__accordian__body p{font-size: 12px; padding: 0 20px 15px 20px;}
    .internationl {grid-template-columns: repeat(auto-fill, minmax(285px , 1fr));}
    .formBlock form{grid-template-columns: 100%;}
    .faqs__accoridan__head:after {width: 25px;height: 25px;top: 15px;background-size: 100%;}
    .testomonials_slider .owl-nav{gap: 20px;}
    .media_cont h4{font-size: 15px;}
    .statistics_block p,
    ul.info_list{font-size: 13px;}
    .statistics_block h5{font-size: 30px;}
    .video,
    .tab_media,
    .sectionImg {max-width: 440px;}
}
@media only screen and (max-width:440px) {
    .banner__img {max-width: 320px; padding: 0 0px;}
    /* .imgPart img {
        height: 250px;
    } */
}