*,*::after,*::before{box-sizing: border-box;margin: 0;padding: 0;}
body{font-family: 'Montserrat', sans-serif;}

:root{
    --text-color: #121112;
    --text-color1: #585858;
    --primary-color:#FDC830;
    --dark-color:#343434;
    --border-color:#ddd;
    --gradient-color:linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);
    --fw-regular:400;
}
.container {
    max-width: 1270px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
section {
    float: left;
    width: 100%;
    padding: 80px 0;
}
.section_block {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.section_head h2 {
    font-size: 40px;
   font-weight: var(--fw-regular);
    line-height: 48px;
    color:var(--text-color);
}
.section_head h2  span{
   
    background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_head {
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom_select {
    background-color: rgba(221, 221, 221, 0.2);
    border: 1px solid rgba(221, 221, 221, 0.2);
    height: 40px;
    width: 300px;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: var(--fw-regular);
    color: var(--text-color1);
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-image: url(../img/vector.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 15px;
    padding-right: 35px;
}
.custom_select:hover, .custom_select:focus{
    outline: none;
    border-color: rgba(221, 221, 221, 1);;
}

.select_stream {
    display: flex;
    align-items: center;
    gap: 10px;
}
.select_stream label {
    font-size: 14px;
    color: var(--text-color1);
}
ul.tabs {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    max-width: calc(100% - 50px);
    overflow-y: auto;
}
ul.tabs li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 15px;
    font-weight: var(--fw-regular);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    position: relative;
}
ul.tabs li:hover,
ul.tabs li.active, 
ul.tabs li.focus {
    background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

ul.tabs li.active::after{
    background: var(--gradient-color);
  height: 2px;
  content: '';
  position: absolute;
  inset: auto 0 0 0;
  z-index: 1;

}
.tab_content {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.tab_content .tab.active{display: block;   position: relative;}
.tab_content .tab{
    display: none;
  
}
table.table {
    float: left;
    width: 100%;
    border-collapse: collapse;
}
table.table thead tr th {
    background-color: var(--dark-color);
    color: #fff;
    padding: 14px 15px;   
    border-bottom:1px solid var(--dark-color);
  font-weight: var(--fw-regular);
  text-align: left;
  white-space: nowrap;
    }
table.table tbody tr td {
    padding: 20px 15px;
    vertical-align: middle;
    border-bottom: 1px solid var(--border-color);
    font-weight: 500;
    color: var(--dark-color);
    white-space: nowrap;
}
.action {
    position: absolute;
    right: 0;
    top: 0;
}
.section_body {
    position: relative;
}
.action div {
    width: 38px;
    height: 38px;
    display: none;
    align-items: center;
    background: #dddddd33;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}
.action div:hover ,.action focus {background: #dddddd66;}
.action div.active {display: flex;}
.tab_content > .tab > div{display: none;}
.tab_content > .tab > div.active{display: block;}
.chart_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    gap: 20px;
    grid-auto-rows: minmax(200px , 1fr);
}
.chart {
    gap: 20px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 5%);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    
}
.chart-body canvas{
    width: 100% !important;
    height: 150px !important;
}
.chart h5{
    font-size: 14px;
    color: var(--text-color);
    font-weight: var(--fw-regular);
} 
#table-view{overflow-y: auto;}

.Statistics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    border: 1px solid var(--primary-color);
    background-color: #FBFBFB;
    border-radius: 10px;
    /* border-image-source: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);
    border-image-slice: 1; */
    position: relative;
    padding: 25px 50px;
    overflow: hidden;
}
.statistics_block {display: grid; gap: 5px;}
.statistics_block h5{
    font-size: 30px;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--fw-regular);
}
.statistics_block p {
    font-size: 14px;
    color: var(--text-color1);
    font-weight: var(--fw-regular);
}


div#wave {
	position:relative;
	text-align:center;

	margin-left: auto;
	margin-right: auto;
}
	.dot {
		display:inline-block;
		width:12px;
		height:12px;
		border-radius:50%;
		margin-right:3px;
		background:var(--gradient-color);
		animation: wave 1.3s linear infinite;
    }
    .dot:nth-child(2) {
			animation-delay: -1.1s;
		}

		.dot:nth-child(3) {
			animation-delay: -0.9s;
		}
	


@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
	}
}

.tab_content > div.loader ,.loader  {
    position: absolute;
    inset: 0;
    display: none;
    background-color: rgb(255 255 255 / 90%);
    align-items: center;
    place-items: center;
}
.tab_content > div.loader.show , .loader.show  {display: grid;}
@media (max-width:767px){
    .Statistics {grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));gap: 20px;padding: 20px;}
    .statistics_block h5{font-size: 22px;}
    .statistics_block p{font-size: 13px;}
    section{padding: 50px 0;}
    .section_head {flex-direction: column;justify-content: flex-start;align-items:center;gap: 20px;}
    .section_head h2{font-size: 28px;}
    .custom_select{width: 250px;}
    .custom_select,
    ul.tabs li,
    table.table thead tr th,
    table.table tbody tr td {font-size: 14px;}
 
}
