*,*::after,*::before{box-sizing: border-box;margin: 0;padding: 0;}
body{font-family: 'Montserrat', sans-serif;;line-height: 1.4;font-weight: var(--fw-regular);}
img{max-width: 100%;}
:root{
    --white-color:#fff;
    --text-color: #121112;
    --text-color1: #585858;
    --primary-color:#FDC830;
    --dark-color:#343434;
    --grey-color:#FBFBFB;
    --border-color:#ddd;
    --gradient-color:linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);
    --fw-regular:400;
}
.formInput::placeholder {opacity: 0.5;}
.formInput:-ms-input-placeholder {opacity: 0.5;}
.formInput::-ms-input-placeholder {color:0.5}
.container {max-width: 1270px;padding: 0 15px;margin: 0 auto;width: 100%;}
.justify--center{justify-content: center;}
.align--center{align-items: center;}
.flex-start{align-items:flex-start !important;}
.textCenter{text-align: center;}
.mT0{margin-top: 0 !important;}
section {float: left;width: 100%;padding: 80px 0;position: relative;}
.banner{padding: 65px 0}
section.banner::after {content: '';background: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);opacity: 0.05;inset: 0 0 0 65%;position: absolute;}
.banner__content {display: grid;grid-template-columns: 1fr 500px;align-items: center;gap: 200px;position: relative;z-index: 1;}
.banner__text {display: grid;gap: 40px;}
.banner__text h1 {font-size: 50px;font-weight: var(--fw-regular);line-height: 1.3;color:var(--dark-color);}
.banner__text h1 span , .section__mainText span, .section__title span{background: var(--gradient-color);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.banner__text p , .section__subText{font-size: 16px;font-weight: var(--fw-regular);line-height: 1.8;color:var(--text-color1);max-width: 80%;}
.bannerImg {background: var(--white-color);box-shadow: 2px 2px 10px rgb(0 0 0 / 5%);padding: 20px;border: 1px solid var(--primary-color);border-radius: 10px;width: 100%;display: grid;gap: 10px;}
.imgPart img {width: 100%;}
.contentPart {display: flex;justify-content: space-between;align-items: center;}
.contentPart h3{font-size: 18px;font-weight: 500;color: var(--dark-color);}
.contentPart span{font-size: 14px;font-weight: 300;color: var(--text-color1);}
.banner__img {max-width: 500px;justify-self: center; padding-right: 30px;}
.banner__img .carousel {position: relative;padding-right: 30px;}
.carousel-control-next, .carousel-control-prev{position: relative; width: auto !important;display: block;opacity: 1;}
.banner__img .controls {flex-direction: column;position: absolute;right: 0;top: 50%;transform: translateY(-50%);display: flex;gap: 10px;}
.section__title{font-size: 40px;font-weight: var(--fw-regular);color:var(--text-color);}
.section__mainText {font-size: 32px;font-weight: var(--fw-regular);color:var(--dark-color);}
.section_head p {font-size: 16px;font-weight: var(--fw-regular);line-height: 1.8;color:var(--text-color1);max-width: 600px ;text-align: center;}
.section_head {gap: 10px;width: 100%;display: flex;align-items: center;flex-direction: column;}
.sectionTwoBlock {display: grid;grid-template-columns: 1fr 1fr;width: 100%;margin-top: 50px;gap: 40px;}
.accordian__list {border-top: 1px solid var(--border-color);position: relative;cursor: pointer;}
.accordian__list.open {background-color:var(--white-color);box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);}
.accoridan__head{cursor:pointer;font-size: 16px;line-height: 1.3;font-weight: var(--fw-regular);color: var(--text-color1);padding: 22.5px 20px;padding-right: 50px;}
.accordian__list.open .accoridan__head{font-weight: 500;padding: 40px 50px 15px 20px;}
.accordian__list.open .accoridan__head:after {transform: rotate(180deg);top: 40px;}
.accoridan__head:after {background-image: url(../img/Vector.svg);background-repeat: no-repeat;background-position: center;position: absolute;content: '';width: 20px;height: 20px;right: 20px;transition: 0.5s ease-in-out;top: 20px;}
.accordian__list.open::after {background: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);content: '';height: 3px;position: absolute;top: -3px;left: 0;width: 50%;}
.accordian__body{display:none;padding: 0px 20px 40px 20px;}
.faqs__accordian__body{display: none;}
p.paraText{font-size: 13px;color: var(--text-color1);line-height: 1.8;}
.accordian__body h4{font-size: 16px;color: var(--text-color1);line-height: 1.3;font-weight: 500;color: var(--text-color);margin-bottom: 15px;}
section.coloredBg::after {position: absolute;content: '';background: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);opacity: 0.05;inset: 0;z-index: -1;}
section.coloredBg {padding: 100px 0;}
.sectionCont {display: grid;gap: 20px;}
.video iframe {width: 100%;aspect-ratio: 16/9;border-radius: 10px;height: auto !important;}
.internationl {display: grid;grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px) , 1fr));gap: 20px;}
.section_block {display: flex;flex-direction: column;gap: 40px;}
.internationl_list {background: var(--white-color);display: grid;border: 1px solid var(--primary-color);border-radius: 10px;overflow: hidden;grid-auto-rows: min-content; justify-self: center;max-width: 400px;}
.internationl_list img {height: auto;width: 100%;object-fit: cover;}
.international_cont {padding: 20px;display: grid;gap: 10px;}
.international_cont h4{font-size: 20px;line-height: 1.5;font-weight: var(--fw-regular) }
ul.tabs {display: flex;border-bottom: 1px solid var(--border-color);max-width: calc(100% -50px);overflow-y: auto;}
ul.tabs li {list-style: none;font-size: 16px;line-height: 24px;padding: 10px 15px;font-weight: var(--fw-regular);cursor: pointer;transition: 0.5s ease-in-out;position: relative;white-space: nowrap;}
ul.tabs li:hover, ul.tabs li.active, ul.tabs li.focus {background: var(--gradient-color);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
ul.tabs li.active::after{background: var(--gradient-color);height: 2px;content: '';position: absolute;inset: auto 0 0 0;z-index: 1;}
.tab_content {display: flex;flex-direction: column;padding: 30px 0 0 0;}
.tab_content .tab.active{display: block;position: relative;}
.tab_content .tab{display: none;}
.tab__block {display: grid;grid-template-columns: 1fr 1fr;align-items: center;gap: 50px;}
.tab__cont {gap: 40px;display: grid;}
.avatar {width: 120px;height: 120px;position: relative;border: 2px solid var(--primary-color);border-radius: 50%;display: flex;overflow: hidden;justify-self: center;}
.avatar img {width: 100%;height: 100%;object-fit: cover;}
.testomonoials__list {display: grid;text-align: center;justify-content: center;gap: 25px;}
.testomonoials__list p {font-size: 18px;line-height: 1.8;max-width: 860px;font-weight: var(--fw-regular);color: var(--dark-color);position: relative;margin-bottom: 30px;}
.intro {display: grid;gap: 10px;}
.intro h4{display: grid;font-weight: 700;font-size: 20px;color: var(--text-color);line-height: 1.8;}
.intro h4 span{display: grid;font-weight: var(--fw-regular);font-size: 14px;color: var(--text-color1);line-height: 1.8;font-style: italic ;}
.testomonials{background-color: var(--grey-color);}
.testomonials_slider .owl-nav {text-align: center;margin-top: 0px;display: flex;justify-content: center;gap: 30px;}
.testomonials_slider {margin-top: 20px;}
.faqs__accordian__list {border: 1px solid var(--primary-color);border-radius: 10px;display: grid;cursor: pointer;background-color: var(--white-color);}
.faqs__accordian {display: grid;gap: 20px;}
.faqs__accoridan__head{color: var(--dark-color);font-size: 18px;line-height: 1.5;padding: 17.5px 28px;cursor: pointer;position: relative;padding-right:70px;}
.faqs__accoridan__head.open:after {transform: rotate(45deg);}
.faqs__accoridan__head:after {background-image: url(../img/plus.svg);content: '';width: 30px;height: 30px;position: absolute;right: 28px;background-repeat: no-repeat;background-position: center;transition: 0.5s ease-in-out;top: 20px;}
.faqs__accoridan__head.open{padding-bottom: 7px;}
.faqs__accordian__body p{font-size: 14px;color: var(--text-color1);line-height: 1.5;padding:0 28px 16px 28px;cursor: pointer;}
.Faqs .container{max-width: 830px;}
section.Faqs.coloredBg {padding: 80px 0;}
.media_list {border: 1px solid var(--primary-color);border-radius: 10px;overflow: hidden;display: grid;background-color: var(--white-color);;height: 100%;grid-template-rows: min-content;}
.media iframe {width: 100%;aspect-ratio: 16/9;height: auto !important;}
.media_cont {padding: 20px;display: flex;flex-direction: column;justify-content: space-between;gap: 30px;}
.media_cont h4{background: linear-gradient(90deg, #F37335 -0.36%, #FDC830 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;font-size: 18px;line-height: 1.5;font-weight: 600;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;}
ul.info_list li:nth-child(1) {list-style: none;padding-left: 0;}
ul.info_list {display: flex;gap: 30px;font-size: 16px;color: var(--text-color1);font-style: italic;}
.mediaslider .owl-stage {display: flex;width: 100%;}
.mediaslider .owl-stage .item {display: grid;height: 100%;padding: 0 10px;width: 100%;}
section.recruitForm.coloredBg::after {opacity: 0.5;}
.formBlock {background: var(--white-color);border-radius: 20px;display: grid;width: 100%;padding: 30px;}
input.formInput {width: 100%;height: 50px;border-radius: 10px;border: 1px solid #ddd;padding: 0 20px;font-size: 14px;outline: none;}
.formBlock {background: var(--white-color);border-radius: 20px;display: grid;width: 100%;padding: 30px;gap:20px }
.formBlock form {display: grid;grid-template-columns: 0.8fr 0.8fr 1fr 1fr 1.3fr 0.8fr;gap: 10px;}
button.button {width: 100%;height: 50px;border-radius: 10px;background: var(--gradient-color);font-weight: 700;border: none;color: var(--white-color);font-size: 16px;cursor: pointer;transition: 0.5 ease-in-out;}
button.button:hover{opacity: 0.7;}
input.formInput:focus{border-color: var(--primary-color);}
.recruitForm h3 {font-size: 28px;font-weight: 700;line-height: 1.2;}
iframe.pageIframe {width: 100%;border: none;float: left;}
.mediaslider .owl-nav button {position: absolute;left: -40px;top: 50%;transform: translateY(-50%);}
.mediaslider .owl-nav button.owl-next {left: auto;right: -40px;}
.statistics_list {display: grid;grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));gap: 40px;position: relative;}
.statistics_block {display: grid;gap: 5px;grid-auto-rows: min-content;}
.statistics_block h5{font-size: 40px;background: var(--gradient-color);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: var(--fw-regular);}
.statistics_block p {font-size: 16px;color: var(--white-color);font-weight: var(--fw-regular);line-height: 1.5;}
section.dark-statistics {background-color: var(--dark-color);padding: 60px 0 }
ul.logo__list li {display: grid;place-items: center;}
section.logo_section {padding: 0;border-bottom: 1px solid var(--border-color);}
ul.logo__list {display: grid;grid-template-columns: repeat(auto-fit, minmax(162px , 1fr));}
ul.logo__list li img {float: left;max-height: 85px;}
.testomonoials__list p:after {content: '';position: absolute;right: 0;bottom: -50px;background-image:url(../img/qoutes.svg);width: 100px;height: 100px; background-repeat: no-repeat;}
.testomonoials__list p::before {content: '';position: absolute;left: 0;top: -50px;background-image: url(../img/qoutes1.svg);width: 100px;height: 100px; background-repeat: no-repeat;}
.cont_block {display: grid;gap: 20px;}
.logo__list .item img{object-fit: contain;}
.media {display: flex;}
.owl-dots {display: none;}
.video,
.tab_media,
.sectionImg {max-width: 600px;justify-self: center;width: 100%;}
.tab_media, img,
.sectionImg img{width: 100%;}
.sectionmedia {justify-content: center;display: flex;text-align: center;width: 100%;}

.tab__block:nth-child(even) .tab_media {order: 2;}
.tab__block:nth-child(even) .tab__cont{order: 1;}
.tab__block:not(:last-child) {
    margin-bottom: 40px;
}
/* .imgPart img {
    height: 420px;
    object-fit: cover;
} */




  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: block;
  }
  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0;
  }
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  @supports (
    (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
  ) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .active.carousel-item-right,
  .carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  @supports (
    (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
  ) {
    .active.carousel-item-right,
    .carousel-item-next {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  }
  .active.carousel-item-left,
  .carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  @supports (
    (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
  ) {
    .active.carousel-item-left,
    .carousel-item-prev {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}
.sectionImg{
  display: flex;
  align-items: center;
}
.sectionImg iframe {
  width: 100% !important;
  aspect-ratio: 3/4;

  border-radius: 10px;
}